@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(41, 41, 41);
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bg-card{
  background-color: rgb(255, 255, 255);
}
.bg-background{
  background-color: #fffefe;
}
.bg-background{
  background-color: transparent ! important;
}
.border{
  border-color: rgb(243, 243, 243);
}

.primary-color{
  color: #1387ca;
}

.gray-color{
  color: #5e5e5ed3; 
}

.appointment-page {
  max-width: 900px;
  margin: 0 auto;
  height: 600px;
  width: 180%;
}
a {
  font-weight: 500;
  color: rgb(41, 41, 41);
  text-decoration: inherit;
}
a:hover {
  color: rgb(41, 41, 41);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #acacacd3;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1387ca; */
  color: #1387ca;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  transform: scale(1.02);
  border-color: #6480ff;
  box-shadow: 1px 1px 10px 2px #0f8bff5d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.rounded-full {
  border-radius: 100px;
}
.border-gray{
  border-color: #c7c7c7d3;
}
.border-b, .border-t, .border-l, .border-r{
  border-style: solid;
  border-color: #b5e3fda1;
  box-shadow: 0px 0px 10px 1px #abd2e9a1;
}
.p-footer{
  padding-left: 12dvh ! important;
  padding-right: 17dvh ! important;
}


input:focus {
  outline: none; 
  border: 2px solid #1387cab9;
  box-shadow: 0 0 10px 3px rgba(19, 135, 202, 0.3);
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
